<div class="bg-light m-5 px-25 w-25 text-center">
  <h3>マイページ</h3>
</div>

<div class="profile-container">
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
  <% if @user == current_user %>
    <%= link_to "編集する", edit_user_path, class: "btn btn-success ml2" %>
  <% end %>
</div>

<% @restaurants.each do |restaurant| %>
<div>
    <%= link_to restaurant_path(restaurant.id) do %>
      <%= attachment_image_tag restaurant, :image %>
    <% end %>
    <h3><%= restaurant.name %></h3>
    <% if restaurant.user == current_user %>
      <p><%= link_to "編集する", edit_restaurant_path(restaurant), class: "btn btn-success ml2" %></p>
      <p><%= link_to "削除する", restaurant_path(restaurant), method: :delete, class: "btn btn-danger ml2" %></p>
    <% end %>
</div>
<% end %>
<%= paginate @restaurants %>