<section class="jumbotron text-center">
  <div class="container">
    <p class="jumbotron-heading text-white" style="font-size: 75px;">
      常連さん
    </p>
    <p class="lead text-light">
      おいしいって幸せだ。<br />
      あなたのオススメのお店を教えてください。<br />
    </p>
  </div>
</section>

<!--サイト紹介-->
<div class="container bg-white py-5 my-5">
  <div id="Flex">
    <h2 class="text-center py-3">サイト紹介</h2>
  </div>
  <div class="d-flex flex-wrap-reverse justify-content-space-around">
    <div class="col-md-6 col-12 p-0 align-self-center p-4">
      <h5 class="text-center">
        こんなご時世だから、一人でひっそりと…<br />
        <br />
        あなたが知らなかった穴場のお店が見つかるかも？<br />
      </h5>
    </div>
    <div class="col-md-6 col-12 p-0 align-self-center">
      <img class="px-5"><%= image_tag 'single.png', :size =>'300x300' %></img>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="col-md-6 col-12 p-0 align-self-center">
      <img class="px-5"><%= image_tag 'family.png', :size =>'300x300' %></img>
    </div>
    <div class="col-md-6 col-12 p-0 align-self-center p-4">
      <h5 class="text-center">
        友人、家族、恋人と楽しめる<br />
        デリバリーメニューが見つかるかも！？
      </h5>
    </div>
  </div>
  <div class="d-flex flex-wrap-reverse justify-content-center">
    <div class="col-md-6 col-12 p-0 align-self-center p-4">
      <h5 class="text-center">
        あなたのオススメの<br />
        行きつけのお店を教えてくれませんか？<br /></h5>
        <h4 class="text-center">
          あなたのオススメの名店をシェアしよう！
        </h4>
    </div>
    <div class="col-md-6 col-12 p-0 align-self-center">
      <img class="px-5"><%= image_tag 'click.png', :size =>'300x300' %></img>
    </div>
  </div>
</div>

<!--ランキング一覧-->
<!--レビュー評価総合ランキング-->
<div class="bg-light m-5 px-25 w-25 text-center">
  <h6 class="heading_ranking text-center">レビュー評価　総合ランキング！</h6>
</div>

<div class="">
  <div class="container">
    <div class="row">
      <% @restaurants.each_with_index do |restaurant, index| %>
      <% restaurant_data = restaurant[:restaurant] %>
      <% restaurant_rate = restaurant[:average] %>
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <div class="rate-rank">第<%= index + 1 %>位</div>
          <div class="img-fluid">
          <%= link_to restaurant_path(restaurant_data.id) do %>
            <%= attachment_image_tag restaurant_data, :image, :fill, 348, 200, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <%= attachment_image_tag restaurant_data.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
              </div>
              <h5 class="col d-flex align-items-center">
                <%= link_to restaurant_data.user.name, user_path(restaurant_data.user) %>
              </h5>
              <div class="col d-flex align-items-end">
                <a class="restaurant_<%= restaurant_data.id %>">
                  <%= render "favorites/favorite", restaurant: restaurant_data %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 shadow-sm">
                <h5 class="my-3"><%= restaurant_data.name %></h5>
              </div>
            </div>
            <div class="row">
              <p class="card-text">
                <div class="">
                  <div id="star-rate-<%= restaurant_data.id %>"></div>
                  <script>
                    $('#star-rate-<%= restaurant_data.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= restaurant_rate %>',
                    });
                  </script>
                </div>
                <p><%= restaurant_rate %>点（ <%= Restaurant.find(restaurant_data.id).restaurant_comments.count %> 件のレビュー）</p>
              </p>
            </div>
            <div class="row">
              <div class="col-md-12 border-bottom">
                <p class="mb-1 mt-2">コメント</p>
              </div>
              <div class="col-md-12 pt-2">
                <%= restaurant_data.introduction %>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">投稿日時：<%= restaurant_data.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<!--レビュー評価　個別ランキング-->
<!--レビュー評価　居酒屋ランキング-->
<div class="bg-light m-5 px-25 w-25 text-center">
  <h6 class="heading_ranking text-center">レビュー評価　居酒屋　ランキング！</h6>
</div>

<div class="">
  <div class="container">
    <div class="row">
      <% @izakayas.each_with_index do |restaurant, index| %>
      <% restaurant_data = restaurant[:restaurant] %>
      <% restaurant_rate = restaurant[:average] %>
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <div class="rate-rank">第<%= index + 1 %>位</div>
          <div class="img-fluid">
          <%= link_to restaurant_path(restaurant_data.id) do %>
            <%= attachment_image_tag restaurant_data, :image, :fill, 348, 200, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <%= attachment_image_tag restaurant_data.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
              </div>
              <h5 class="col d-flex align-items-center">
                <%= link_to restaurant_data.user.name, user_path(restaurant_data.user) %>
              </h5>
              <div class="col d-flex align-items-end">
                <a class="restaurant_<%= restaurant_data.id %>">
                  <%= render "favorites/favorite", restaurant: restaurant_data %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 shadow-sm">
                <h5 class="my-3"><%= restaurant_data.name %></h5>
              </div>
            </div>
            <div class="row">
              <p class="card-text">
                <div class="">
                  <div id="star-rate-izakaya-<%= restaurant_data.id %>"></div>
                  <script>
                    $('#star-rate-izakaya-<%= restaurant_data.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= restaurant_rate %>',
                    });
                  </script>
                </div>
                <p><%= restaurant_rate %>点（ <%= Restaurant.find(restaurant_data.id).restaurant_comments.count %> 件のレビュー）</p>
              </p>
            </div>
            <div class="row">
              <div class="col-md-12 border-bottom">
                <p class="mb-1 mt-2">コメント</p>
              </div>
              <div class="col-md-12 pt-2">
                <%= restaurant_data.introduction %>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">投稿日時：<%= restaurant_data.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--レビュー評価　カフェランキング-->
<div class="bg-light m-5 px-25 w-25 text-center">
  <h6 class="heading_ranking text-center">レビュー評価　カフェ　ランキング！</h6>
</div>

<div class="">
  <div class="container">
    <div class="row">
      <% @caffes.each_with_index do |restaurant, index| %>
      <% restaurant_data = restaurant[:restaurant] %>
      <% restaurant_rate = restaurant[:average] %>
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <div class="rate-rank">第<%= index + 1 %>位</div>
          <div class="img-fluid">
          <%= link_to restaurant_path(restaurant_data.id) do %>
            <%= attachment_image_tag restaurant_data, :image, :fill, 348, 200, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <%= attachment_image_tag restaurant_data.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
              </div>
              <h5 class="col d-flex align-items-center">
                <%= link_to restaurant_data.user.name, user_path(restaurant_data.user) %>
              </h5>
              <div class="col d-flex align-items-end">
                <a class="restaurant_<%= restaurant_data.id %>">
                  <%= render "favorites/favorite", restaurant: restaurant_data %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 shadow-sm">
                <h5 class="my-3"><%= restaurant_data.name %></h5>
              </div>
            </div>
            <div class="row">
              <p class="card-text">
                <div class="">
                  <div id="star-rate-caffe-<%= restaurant_data.id %>"></div>
                  <script>
                    $('#star-rate-caffe-<%= restaurant_data.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= restaurant_rate %>',
                    });
                  </script>
                </div>
                <p><%= restaurant_rate %>点（ <%= Restaurant.find(restaurant_data.id).restaurant_comments.count %> 件のレビュー）</p>
              </p>
            </div>
            <div class="row">
              <div class="col-md-12 border-bottom">
                <p class="mb-1 mt-2">コメント</p>
              </div>
              <div class="col-md-12 pt-2">
                <%= restaurant_data.introduction %>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">投稿日時：<%= restaurant_data.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--レビュー評価　和食ランキング-->
<div class="bg-light m-5 px-25 w-25 text-center">
  <h6 class="heading_ranking text-center">レビュー評価　和食　ランキング！</h6>
</div>

<div class="">
  <div class="container">
    <div class="row">
      <% @japanese_foods.each_with_index do |restaurant, index| %>
      <% restaurant_data = restaurant[:restaurant] %>
      <% restaurant_rate = restaurant[:average] %>
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <div class="rate-rank">第<%= index + 1 %>位</div>
          <div class="img-fluid">
          <%= link_to restaurant_path(restaurant_data.id) do %>
            <%= attachment_image_tag restaurant_data, :image, :fill, 348, 200, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <%= attachment_image_tag restaurant_data.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
              </div>
              <h5 class="col d-flex align-items-center">
                <%= link_to restaurant_data.user.name, user_path(restaurant_data.user) %>
              </h5>
              <div class="col d-flex align-items-end">
                <a class="restaurant_<%= restaurant_data.id %>">
                  <%= render "favorites/favorite", restaurant: restaurant_data %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 shadow-sm">
                <h5 class="my-3"><%= restaurant_data.name %></h5>
              </div>
            </div>
            <div class="row">
              <p class="card-text">
                <div class="">
                  <div id="star-rate-japanese_food-<%= restaurant_data.id %>"></div>
                  <script>
                    $('#star-rate-japanese_food-<%= restaurant_data.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= restaurant_rate %>',
                    });
                  </script>
                </div>
                <p><%= restaurant_rate %>点（ <%= Restaurant.find(restaurant_data.id).restaurant_comments.count %> 件のレビュー）</p>
              </p>
            </div>
            <div class="row">
              <div class="col-md-12 border-bottom">
                <p class="mb-1 mt-2">コメント</p>
              </div>
              <div class="col-md-12 pt-2">
                <%= restaurant_data.introduction %>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">投稿日時：<%= restaurant_data.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--レビュー評価　洋食ランキング-->
<div class="bg-light m-5 px-25 w-25 text-center">
  <h6 class="heading_ranking text-center">レビュー評価　洋食　ランキング！</h6>
</div>

<div class="">
  <div class="container">
    <div class="row">
      <% @western_foods.each_with_index do |restaurant, index| %>
      <% restaurant_data = restaurant[:restaurant] %>
      <% restaurant_rate = restaurant[:average] %>
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <div class="rate-rank">第<%= index + 1 %>位</div>
          <div class="img-fluid">
          <%= link_to restaurant_path(restaurant_data.id) do %>
            <%= attachment_image_tag restaurant_data, :image, :fill, 348, 200, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <%= attachment_image_tag restaurant_data.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
              </div>
              <h5 class="col d-flex align-items-center">
                <%= link_to restaurant_data.user.name, user_path(restaurant_data.user) %>
              </h5>
              <div class="col d-flex align-items-end">
                <a class="restaurant_<%= restaurant_data.id %>">
                  <%= render "favorites/favorite", restaurant: restaurant_data %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 shadow-sm">
                <h5 class="my-3"><%= restaurant_data.name %></h5>
              </div>
            </div>
            <div class="row">
              <p class="card-text">
                <div class="">
                  <div id="star-rate-western_food-<%= restaurant_data.id %>"></div>
                  <script>
                    $('#star-rate-western_food-<%= restaurant_data.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= restaurant_rate %>',
                    });
                  </script>
                </div>
                <p><%= restaurant_rate %>点（ <%= Restaurant.find(restaurant_data.id).restaurant_comments.count %> 件のレビュー）</p>
              </p>
            </div>
            <div class="row">
              <div class="col-md-12 border-bottom">
                <p class="mb-1 mt-2">コメント</p>
              </div>
              <div class="col-md-12 pt-2">
                <%= restaurant_data.introduction %>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">投稿日時：<%= restaurant_data.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--レビュー評価　中華ランキング-->
<div class="bg-light m-5 px-25 w-25 text-center">
  <h6 class="heading_ranking text-center">レビュー評価　中華　ランキング！</h6>
</div>

<div class="">
  <div class="container">
    <div class="row">
      <% @chineses.each_with_index do |restaurant, index| %>
      <% restaurant_data = restaurant[:restaurant] %>
      <% restaurant_rate = restaurant[:average] %>
      <div class="col-md-4">
        <div class="card mb-4 shadow">
          <div class="rate-rank">第<%= index + 1 %>位</div>
          <div class="img-fluid">
          <%= link_to restaurant_path(restaurant_data.id) do %>
            <%= attachment_image_tag restaurant_data, :image, :fill, 348, 200, format: 'jpeg', fallback: "no_image.jpg" %>
          <% end %>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <%= attachment_image_tag restaurant_data.user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
              </div>
              <h5 class="col d-flex align-items-center">
                <%= link_to restaurant_data.user.name, user_path(restaurant_data.user) %>
              </h5>
              <div class="col d-flex align-items-end">
                <a class="restaurant_<%= restaurant_data.id %>">
                  <%= render "favorites/favorite", restaurant: restaurant_data %>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 shadow-sm">
                <h5 class="my-3"><%= restaurant_data.name %></h5>
              </div>
            </div>
            <div class="row">
              <p class="card-text">
                <div class="">
                  <div id="star-rate-chinese-<%= restaurant_data.id %>"></div>
                  <script>
                    $('#star-rate-chinese-<%= restaurant_data.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= restaurant_rate %>',
                    });
                  </script>
                </div>
                <p><%= restaurant_rate %>点（ <%= Restaurant.find(restaurant_data.id).restaurant_comments.count %> 件のレビュー）</p>
              </p>
            </div>
            <div class="row">
              <div class="col-md-12 border-bottom">
                <p class="mb-1 mt-2">コメント</p>
              </div>
              <div class="col-md-12 pt-2">
                <%= restaurant_data.introduction %>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">投稿日時：<%= restaurant_data.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>