<div class="new-comment">
<%= form_with model:[restaurant, restaurant_comment], remote: true do |f| %>

<% if restaurant_comment.errors.any? %>
 <div id="error_comment">
   <ul>
     <% restaurant_comment.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 </div>
<% end %>

<div class="row mb-3">
 <div class="col-3">評価：</div>
 <div class="col-9" id="star">
 <%= f.hidden_field :rate, id: :review_star %>
 </div>
</div>

 <script>
 $(document).on('turbolinks:load', function() {
   $('#star').html("");
    $('#star').raty({
   size     : 36,
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   scoreName: 'restaurant_comment[rate]',
   half: true,
 });
});
 </script>
  <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %><br />
  <%= f.submit "投稿する", class: 'btn btn-success ml2' %>
  <%= link_to "レビューを見る", restaurant_restaurant_comments_path(restaurant.id), class: 'btn btn-primary ml2' %>
<% end %>
</div>
