<!--お店の情報-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 md-3">
        <div class="card" style="width: 40rem;">
          <% @restaurant_comments.each do |restaurant_comment| %>
            <div class="card-header">
              <div class="row">
                <div class="col-md-10">
                  <h5><%= link_to restaurant_comment.user.name, user_path(restaurant_comment.user) %></h5>
                </div>
                <div class="col-md-2">
                  <div class="restaurant_comments_area">
                    <% if current_user == restaurant_comment.user %>
                      <%= link_to '削除する', restaurant_restaurant_comment_path(restaurant_comment.restaurant_id, restaurant_comment.id), method: :delete, remote: true, class: 'btn-sm btn-danger' %></td>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="average_star text-center">
                    <div id="star-rate-<%= restaurant_comment.id %>"></div>
                    <script>
                      $('#star-rate-<%= restaurant_comment.id %>').raty({
                      size: 36,
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= restaurant_comment.rate %>,
                      });
                    </script>
                  </div>
                </div>
                <div class="col-md-4 pr-5">
                  <%= restaurant_comment.rate %>点
                </div>
                <div class="col-md-4">
                  <%= restaurant_comment.created_at.strftime('%Y/%m/%d %H:%M') %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 border-bottom">
                </div>
                <div class="col-md-12 pt-2">
                  <%= restaurant_comment.comment %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <!--レビュー評価-->
        <div class="card mb-3" style="width: 20rem;">
          <h5 class="card-header text-center">レビュー評価</h5>
          <div class="card-body">
            <h5 class="card-title">総合評価</h5>
            <p class="card-text">
              <div class="">
                <div id="star-rate-average"></div>
                <script>
                  $('#star-rate-average').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: '<%= @average %>',
                  });
                </script>
              </div>
              <p><%= @average %>点（ <%= @restaurant_comments.count %> 件のレビュー）</p>
            </p>
          </div>
        </div>

        <!--お店の情報-->
        <div class="card mb-3" style="width: 20rem;">
          <%= attachment_image_tag @restaurant, :image, :fill, 400, 300, format: 'jpeg', fallback: "no_image.jpg" %>
          <div class="card-body">
            <h5 class="card-title text-center">
              <%= @restaurant.name %>
            </h5>
            <p class="card-text">
              <p class="far fa-kiss-wink-heart fa-2x">
                <%= @restaurant.favorites.count %>
              </p>
              <div class="border-bottom">
                <p class="mb-1 mt-2 pl-3">コメント</p>
              </div>
              <div class="pt-2 pl-3">
                <%= @restaurant.introduction %>
              </div>
            </p>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">投稿日時：<%= @restaurant.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
