<div class="bg-gray m-5 px-25 w-25 text-center">
  <h3 class="heading">投稿内容を編集</h3>
</div>

<div class='container'>
  <%= form_with model:@restaurant, local:true do |f| %>
  <div class='row mb-1'>
    <div class="col-lg-2">
      <p>店名</p>
    </div>
    <div class="col-lg-2">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class='row mb-1'>
    <div class="col-lg-2">
      <p>紹介文</p>
    </div>
    <div class="col-lg-2">
      <%= f.text_area :introduction %>
    </div>
  </div>

  <div class='row mb-1'>
    <div class="col-lg-2">
      <p>写真</p>
    </div>
    <div class="col-lg-2">
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class='row mb-1'>
    <div class="col-lg-2">
      <p>住所</p>
    </div>
    <div class="col-lg-2">
      <%= f.text_field :address %>
    </div>
  </div>

  <div class='row mb-1'>
    <div class="col-lg-2">
      <p>お店のホームページ</p>
    </div>
    <div class="col-lg-2">
      <%= f.text_field :home_page_url %>
    </div>
  </div>

  <div class='row mb-1'>
    <div class="col-lg-2">
      <p>カテゴリー</p>
    </div>
    <div class="col-lg-2">
      <%= f.collection_select(:category_id, Category.all, :id, :name,{prompt: "--選択してください--"}) %>
    </div>
  </div>

  <div class='row mb-1'>
    <div class="col-lg-2">
      <p></p>
    </div>
    <div class="col-lg-2">
      <%= f.submit '更新する', class: 'btn btn-success' %>
  </div>
  <% end %>
</div>