<div class="bg-light m-5 px-25 w-25 text-center">
  <h3 class="heading">お気に入りのお店を登録！</h3>
</div>

<div class='container'>
  <%= form_with model:@restaurant, url: restaurants_path(@restaurant), local:true do |f| %>
    <div class='row md-1 mb-1'>
      <div class="col-md-2"></div>
      <div class="col-md-2 pt-2">
        <p>店名</p>
      </div>
      <div class="col-md-8 mx-auto">
        <%= f.text_field :name, placeholder: "店名" %>
      </div>
    </div>
  
    <div class='row md-1 mb-1'>
      <div class="col-md-2"></div>
      <div class="col-md-2 pt-2">
        <p>紹介文</p>
      </div>
      <div class="col-md-8 mx-auto">
        <%= f.text_area :introduction, placeholder: "ここに紹介文を記述しましす。" %>
      </div>
    </div>
  
    <div class='row md-1 mb-1'>
      <div class="col-md-2"></div>
      <div class="col-md-2 pt-2">
        <p>写真</p>
      </div>
      <div class="col-md-8 mx-auto">
        <%= f.attachment_field :image %>
      </div>
    </div>
  
    <div class='row md-1 mb-1'>
      <div class="col-md-2"></div>
      <div class="col-md-2 pt-2">
        <p>住所</p>
      </div>
      <div class="col-md-8 mx-auto">
        <%= f.text_field :address, autofocus: true, placeholder: "〒000-0000 〇〇県〇〇市〇〇町0-0-0" %>
      </div>
    </div>
  
    <div class='row md-1 mb-1'>
      <div class="col-md-2"></div>
      <div class="col-md-2 pt-2">
        <p>お店のホームページ</p>
      </div>
      <div class="col-md-8 mx-auto">
        <%= f.text_field :home_page_url, placeholder: "https//..." %>
      </div>
    </div>
  
    <div class='row md-1 mb-1'>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <p>カテゴリー</p>
      </div>
      <div class="col-md-8 pr-3 mx-auto">
        <%= f.collection_select(:category_id, Category.all, :id, :name,{prompt: "------------  選択してください  ------------"}) %>
      </div>
    </div>
  
    <div class='row md-1 mb-1'>
      <div class="mx-auto">
        <%= f.submit '     投稿     ', class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>