<div class="post-body">
  <%= attachment_image_tag @restaurant, :image %>
  <p>ショップ名：<%= @restaurant.name %></p>
  <p>HP：<%= link_to @restaurant.home_page_url %></p>
  <p>説明：<%= @restaurant.introduction %></p>
  <p>ユーザーネーム：<%= @restaurant.user.name %></p>
  <p>投稿日時：<%= @restaurant.created_at.strftime('%Y/%m/%d') %></p>
  <% if @restaurant.user == current_user %>
    <%= link_to "削除", restaurant_path(@restaurant), method: :delete %>
  <% end %>
</div>