<!DOCTYPE html>
<html>
  <head>
    <title>RegularSan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <div class="wrapper">
      <%= render 'layouts/header' %>
        <main>
          <!--deivseのフラッシュメッセージを表示-->
          <p class="notice"><%= notice %></p>
          <!--<p class="alert"><#%= alert %></p>-->
        </main>
        <%= yield %>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
