<!DOCTYPE html>
<html>
  <head>
    <title>RegularSan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body class="bg-light">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <div class="loader">Loading...</div>
        <main>
          <!--フラッシュメッセージを表示-->
          <%= render "layouts/flash" %>
        </main>
        <%= yield %>
      <footer>
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
